<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="5.0.0" targetFramework="net40" />
  <package id="jQuery" version="1.5.1" targetFramework="net40" />
  <package id="jQuery.Validation" version="1.8.0" targetFramework="net40" />
  <package id="jQuery.vsdoc" version="1.5.1" targetFramework="net40" />
  <package id="Modernizr" version="1.7" targetFramework="net40" />
  <package id="T4Scaffolding" version="1.0.8" targetFramework="net40" />
  <package id="T4Scaffolding.Core" version="1.0.0" targetFramework="net40" />
  <package id="XSockets" version="2.0.3.1" targetFramework="net40" />
  <package id="XSockets.Core" version="2.0.3.1" targetFramework="net40" />
  <package id="XSockets.External" version="2.0.3.1" targetFramework="net40" />
  <package id="XSockets.Fallback" version="2.0.3.1" targetFramework="net40" />
  <package id="XSockets.JsApi" version="2.0.3" targetFramework="net40" />
  <package id="XSockets.Tutorials" version="0.6" targetFramework="net40" />
</packages>